h1{
    text-align: center;
}

body{
    background-image: url(./Images/mesh-386.png);
}

nav{
    text-align: right;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;

}

